apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "5"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"peoples-coin-backend"},"name":"peoples-coin-backend","namespace":"default"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"peoples-coin-backend"}},"template":{"metadata":{"labels":{"app":"peoples-coin-backend"}},"spec":{"containers":[{"env":[{"name":"POSTGRES_DB_URI","valueFrom":{"secretKeyRef":{"key":"POSTGRES_DB_URI","name":"peoples-coin-secrets"}}},{"name":"REDIS_URL","valueFrom":{"secretKeyRef":{"key":"REDIS_URL","name":"peoples-coin-secrets"}}},{"name":"RABBITMQ_URL","value":"amqp://guest:guest@35.199.15.190:5672/"}],"image":"gcr.io/heroic-tide-428421-q7/peoples-coin-backend:latest","imagePullPolicy":"Always","livenessProbe":{"httpGet":{"path":"/health","port":8080},"initialDelaySeconds":30,"periodSeconds":30},"name":"peoples-coin-backend","ports":[{"containerPort":8080}],"readinessProbe":{"httpGet":{"path":"/health","port":8080},"initialDelaySeconds":10,"periodSeconds":10},"resources":{"limits":{"cpu":"500m","memory":"512Mi"},"requests":{"cpu":"100m","memory":"128Mi"}}}]}}}}
  creationTimestamp: "2025-07-21T15:44:38Z"
  generation: 5
  labels:
    app: peoples-coin-backend
  name: peoples-coin-backend
  namespace: default
  resourceVersion: "1753120067223439002"
  uid: eabfdfed-917d-45f5-9992-884bbda309e2
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: peoples-coin-backend
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-07-21T13:43:03-04:00"
      creationTimestamp: null
      labels:
        app: peoples-coin-backend
    spec:
      containers:
      - env:
        - name: POSTGRES_DB_URI
          valueFrom:
            secretKeyRef:
              key: POSTGRES_DB_URI
              name: peoples-coin-secrets
        - name: REDIS_URL
          valueFrom:
            secretKeyRef:
              key: REDIS_URL
              name: peoples-coin-secrets
        - name: RABBITMQ_URL
          value: amqp://guest:guest@35.199.15.190:5672/
        image: gcr.io/heroic-tide-428421-q7/peoples-coin-backend:v1.1
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        name: peoples-coin-backend
        ports:
        - containerPort: 8080
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  conditions:
  - lastTransitionTime: "2025-07-21T15:44:38Z"
    lastUpdateTime: "2025-07-21T15:44:38Z"
    message: Deployment does not have minimum availability.
    reason: MinimumReplicasUnavailable
    status: "False"
    type: Available
  - lastTransitionTime: "2025-07-21T17:43:03Z"
    lastUpdateTime: "2025-07-21T17:47:47Z"
    message: ReplicaSet "peoples-coin-backend-68ff995496" is progressing.
    reason: ReplicaSetUpdated
    status: "True"
    type: Progressing
  observedGeneration: 5
  replicas: 3
  unavailableReplicas: 3
  updatedReplicas: 1
