# Flask and Web Server
flask
python-dotenv
gunicorn

# Database
flask-sqlalchemy
# psycopg2-binary  # Or the driver for your DB

# Database Migrations
alembic # Added for database migrations

# Validation & Utilities
pydantic
validators

# API Documentation
flasgger

# Security & Rate Limiting
redis
flask-limiter

# Message Queue
pika

# Google Cloud (Optional)
google-cloud-firestore

