apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: peoples-coin-service
  namespace: '105378934751' # Your project number
  annotations:
    run.googleapis.com/ingress: all
    run.googleapis.com/ingress-status: all
    run.googleapis.com/client-name: gcloud
    run.googleapis.com/client-version: 531.0.0 # Or your current gcloud version
  labels:
    cloud.googleapis.com/location: us-central1
    run.googleapis.com/satisfiesPzs: 'true'
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: '20'
        run.googleapis.com/startup-cpu-boost: 'true'
        run.googleapis.com/vpc-access-connector: peoples-coin-connector
        run.googleapis.com/vpc-access-egress: private-ranges-only
    spec:
      containerConcurrency: 80
      timeoutSeconds: 600 # Overall request timeout for a single request
      serviceAccountName: peoples-coin-sa@heroic-tide-428421-q7.iam.gserviceaccount.com 
      containers:
      - image: gcr.io/heroic-tide-428421-q7/peoples-coin-service:latest
        ports:
        - containerPort: 8080
          name: http1
        env:
        - name: FIREBASE_CREDENTIALS_PATH
          value: /app/firebase-admin-sdk-key.json
        - name: REDIS_URL
          value: redis://10.128.0.12:6379/0 # <<< UPDATED to your new Redis
        resources:
          limits:
            cpu: '2' # You mentioned 2 vCPU now
            memory: 4Gi
        startupProbe:
          httpGet:
            path: /
            port: 8080
          timeoutSeconds: 30
          periodSeconds: 60
          failureThreshold: 10
          initialDelaySeconds: 0
        volumeMounts:
        - mountPath: /app
          name: firebase-backend-service-account-bap-lis-woc
      volumes:
      - name: firebase-backend-service-account-bap-lis-woc
        secret:
          secretName: firebase-backend-service-account
          items:
          - key: latest
            path: firebase-admin-sdk-key.json
  traffic:
  - latestRevision: true
    percent: 100

