apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: peoples-coin-service
  namespace: '105378934751'  # Your project number (optional)
  annotations:
    run.googleapis.com/ingress: all
    run.googleapis.com/ingress-status: all
    run.googleapis.com/client-name: gcloud
    run.googleapis.com/client-version: "531.0.0"  # Or your current gcloud version
  labels:
    cloud.googleapis.com/location: us-east4
    run.googleapis.com/satisfiesPzs: 'true'
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: "20"
        run.googleapis.com/startup-cpu-boost: "true"
        run.googleapis.com/vpc-access-connector: pc-backend-connector
        run.googleapis.com/vpc-access-egress: private-ranges-only
    spec:
      containerConcurrency: 80
      timeoutSeconds: 600  # Overall request timeout for a single request
      serviceAccountName: peoples-coin-sa@heroic-tide-428421-q7.iam.gserviceaccount.com
      containers:
        - image: gcr.io/heroic-tide-428421-q7/peoples-coin-service:latest  # Your latest image
          ports:
            - containerPort: 8080
              name: http1
          env:
            - name: FIREBASE_CREDENTIALS_PATH
              value: /app/firebase-admin-sdk-key.json
            - name: REDIS_URL
              value: redis://10.150.0.37:6379/0  # Your Redis IP
          resources:
            limits:
              cpu: "1"
              memory: 4Gi
          startupProbe:
            httpGet:
              path: /api/v1/healthz
              port: 8080
            timeoutSeconds: 30     # Must be less than periodSeconds
            periodSeconds: 60      # Probe every 60 seconds
            failureThreshold: 10   # 10 consecutive failures allowed (10*60=600s)
            initialDelaySeconds: 0 # Start probing immediately
          volumeMounts:
            - mountPath: /app
              name: firebase-backend-service-account-bap-lis-woc
      volumes:
        - name: firebase-backend-service-account-bap-lis-woc
          secret:
            secretName: firebase-backend-service-account
            items:
              - key: latest
                path: firebase-admin-sdk-key.json
  traffic:
    - latestRevision: true
      percent: 100

