apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: peoples-coin-service
  namespace: '105378934751'  # Your project number
  annotations:
    run.googleapis.com/ingress: all
    run.googleapis.com/ingress-status: all
    run.googleapis.com/client-name: gcloud
    run.googleapis.com/client-version: 531.0.0  # Or your current gcloud version
  labels:
    cloud.googleapis.com/location: us-east4
    run.googleapis.com/satisfiesPzs: 'true'
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: '20'
        run.googleapis.com/startup-cpu-boost: 'true'
        run.googleapis.com/vpc-access-connector: pc-backend-connector
        run.googleapis.com/vpc-access-egress: private-ranges-only
    spec:
      containerConcurrency: 80
      timeoutSeconds: 600  # Overall request timeout for a single request
      serviceAccountName: peoples-coin-sa@heroic-tide-428421-q7.iam.gserviceaccount.com
      containers:
        - image: gcr.io/heroic-tide-428421-q7/peoples-coin-service:latest  # Make sure this is your latest image
          ports:
            - containerPort: 8080
              name: http1
          env:
            - name: FIREBASE_CREDENTIALS_PATH
              value: /app/brightacts-frontend-firebase-adminsdk-fbsvc-42f13be0b5.json
            - name: REDIS_URL
              value: redis://10.150.0.37:6379/0  # Use your Redis URL/IP
          resources:
            limits:
              cpu: '1'
              memory: 4Gi
          startupProbe:
            httpGet:
              path: /healthz_root
              port: 8080
            timeoutSeconds: 30
            periodSeconds: 60
            failureThreshold: 10
            initialDelaySeconds: 0
          volumeMounts:
            - mountPath: /app/brightacts-frontend-firebase-adminsdk-fbsvc-42f13be0b5.json
              subPath: brightacts-frontend-firebase-adminsdk-fbsvc-42f13be0b5.json
              name: firebase-backend-service-account
      volumes:
        - name: firebase-backend-service-account
          secret:
            secretName: firebase-backend-service-account
            items:
              - key: "1"   # Secret version number (always a string)
                path: brightacts-frontend-firebase-adminsdk-fbsvc-42f13be0b5.json
  traffic:
    - latestRevision: true
      percent: 100

